@model Revizorro.ViewModels.DetailViewModel
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="card">
    <img class="card-img-top" src="@Model.Place.MainPhoto" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Place.Title</h5>
        <p class="card-text">@Model.Place.Description</p>
        @if (@Model.Photo != null)
        {
            @foreach (var item in Model.Photo)
            {
                <img class="card-img-bottom" src="@item.PathToPhoto">
            }
        }
        @if (User.IsInRole("user"))
        {
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-success" onclick="OpenModal('@Model.Place.Id')">Добавить новое фото</button>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-success" onclick="OpenComment('@Model.Place.Id')">Добавить отзыв</button>
            </div>
        }
        </div>
        
    @if (Model.FeedBacks != null)
    {
        <table>
            <tbody>
                @foreach (var item in Model.FeedBacks)
                {
                    <tr>
                        <td>@item.Authour</td>
                    </tr>

                    <tr>
                        <td>@item.Description</td>
                    </tr>

                    <tr>
                        <td>@item.PublishedTime</td>
                    </tr>

                    <tr>
                        <td>@item.Rate</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>

    function OpenComment(id) {
        Swal.fire({
            title: 'Добавление нового отзыва',
            html:
                '<form method="post">' +
                '<div asp-validation-summary="ModelOnly"></div> <div>' +
                '<input type="hidden" id="newPlaceId" value="' + id + '"/>' +
                '<div><label for="Description"> Описание</label><br />'+
                '<input id="Description" ></div> ' +
                '<span class="text-danger"></span></div>' +
                '<div> <select id="filter" class="form-select form-select-lg mb-3">'+
                      '  <option value="1">1</option>'+
                      '  <option value="2">2</option>'+
                      '  <option value="3">3</option>'+
                      '  <option value="4">4</option>'+
                      '  <option value="5">5</option>'+
                   ' </select>'+
               ' </div>'+
                '<div><input type="submit" value="Добавить" data-dismiss="modal" class="mt-2 btn btn-primary" onclick="AddNewFeedBack()"/>' +
                '</div></form>',
            showCancelButton: true,
            showConfirmButton: false
        });
    };


    function AddNewFeedBack() {
        let Id = document.getElementById("newPlaceId").value;
        let FeedBack= {
            Description: $("#Description").val(),
            Rate: $("#filter").val(),
        };
        var formData = new FormData();
        formData.append('Id', Id);
        formData.append('FeedBack', FeedBack);
             $.ajax({
                url: '@Url.Action("AddNew", "FeedBack")',
                type: "POST",
                async: false,
                cache: false,
                data: formData,
                processData: false
            });

    };

    function OpenModal(id) {
        Swal.fire({
            title: 'Добавление нового фото',
            html:
                '<form method="post">' +
                '<input type="hidden" id="placeId" value="'+id+'"/>'+
                '<div asp-validation-summary="ModelOnly"></div> <div>' +
                '<div class="form-group"><h6 asp-for="Avatar" class="control-label"></h6>' +
                '<input type="file" name="image" id="photo" />' +
                '<span class="text-danger"></span></div>' +
                '<div><input type="submit" value="Добавить" data-dismiss="modal" class="mt-2 btn btn-primary" onclick="AddNewPhoto()"/>' +
                '</div></form>',
            showCancelButton: true,
            showConfirmButton: false
        });
    };

    function AddNewPhoto() {
        let myfile = document.getElementById("photo");
        let id = document.getElementById("placeId").value;
        console.log(myfile);
            var formData = new FormData();
            console.log('pdf', myfile.files[0]);
            formData.append("id", id);
            formData.append("formFile", myfile.files[0]);
           $.ajax({
               type: "POST",
               url: '@Url.Action("AddNewPhoto", "FeedBack")',
               async: false,
               data: formData,
               contentType: false,
               processData: false
            });
    };
</script>
